:root {
  --main-background-color: #f8f8f8;
  --secondary-background-color: #2B2D42;
  --element-background-color: #ffffff;
  --main-text-color: #141414;
  --active-text-color: #828282;
  --border-color: #aaaaaa;
  --input-background-color: #ffffff;
  --regular-font-size: 1rem;
  --font-family: Arial,
    Helvetica,
    sans-serif;
  --btn-submit-color: #00a2ed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  min-height: 100vh;
  font-family: var(--font-family);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: var(--main-text-color);
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a:visited,
a:active {
  color: var(--main-text-color);
}

.logo {
  font-size: 1.5rem;
}

.links {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.authentication-links {
  display: flex;
  gap: 30px;
}

.link {
  transition: all 0.1s ease;
}

.link:hover {
  color: var(--active-text-color);
  cursor: pointer;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 60px 0px 40px 0px;
  font-weight: 400;
  background-color: var(--secondary-background-color);
  color: #fff;
}

.footer-link:visited, .footer-link:active {
  color: #fff;
}

.legal-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.legal-link {
  color: #bcbcbc;
  font-weight: 300;
  transition: all 0.1s ease;
}

.legal-link:hover {
  color: #fff;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.footer-link {
  color: var(--element-background-color);
  transition: all 0.1s ease;
}

.footer-link:hover {
  color: var(--active-text-color);
  cursor: pointer;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #bcbcbc;
}

/* SIGN UP, LOGIN FORM */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
  padding: 100px 0px 100px 0px;
}

.signup-form {
  padding: 46px 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--element-background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.input-group .link {
  text-align: center;
}

.input-group .link a {
  text-decoration: none;
  color: var(--btn-submit-color);
}

input {
  background-color: var(--input-background-color);
  color: var(--main-text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: var(--regular-font-size);
}

.btn {
  padding: 10px;
  color: var(--main-text-color);
  border-radius: 5px;
  border: none;
  transition: all 0.1s ease;
}

.btn-submit {
  background-color: var(--btn-submit-color);
  color: var(--element-background-color);
  font-size: 0.9rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #00aeff;
  cursor: pointer;
}

/* HOME PAGE */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  font-size: 5rem;
  font-weight: bold;
}

.secondary-text {
  font-size: 3rem;
  font-weight: 600;
  color: #3a3a3a;
}

.about-container {
  display: flex;
}

/* PROFILE PAGE */
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--element-background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-card {
  width: 300px;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.bank-account {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.label {
  font-size: 1.3rem;
}

.account-number {
  font-size: 1.3rem;
}

.balance {
  font-size: 1.8rem;
  font-weight: 700;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.transaction-history {
  width: 900px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--border-color);
  font-size: 1.2rem;
}

.income {
  color: green;
}

.expense {
  color: red;
}