:root {
  --main-background-color: #f8f8f8;
  --secondary-background-color: #2B2D42;
  --element-background-color: #ffffff;
  --main-text-color: #141414;
  --active-text-color: #828282;
  --border-color: #aaaaaa;
  --border-radius: 5px;
  --input-background-color: #ffffff;
  /* TEXT */
  --regular-font-size: 1rem;
  --small-text: 0.8rem;
  --font-family: Arial,
    Helvetica,
    sans-serif;
  --label-size: 1.3rem;
  --btn-submit-color: #00a2ed;
  --large-header-size: 1.6rem;
  --medium-header-size: 1.4rem;
  --small-header-size: 0.9rem;
  --small-header-color: #606060;
  --error-message-color: #ff0000;
  --link-color: #005790;
  --legal-link-color: #bcbcbc;
  --btn-font-size: 0.8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  min-height: 100vh;
  font-family: var(--font-family);
}

.child-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.flex-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: var(--main-text-color);
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a:visited,
a:active {
  color: var(--main-text-color);
}

.legal-link:visited {
  color: var(--legal-link-color);
}

.logo {
  font-size: 1.5rem;
}

.links {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.authentication-links {
  display: flex;
  gap: 30px;
}

.link {
  transition: all 0.1s ease;
  font-size: var(--regular-font-size);
  font-weight: 600;
}

.link:hover {
  color: var(--active-text-color);
  cursor: pointer;
}

.logout {
  display: flex;
  gap: 10px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 60px 0px 40px 0px;
  font-weight: 400;
  background-color: var(--secondary-background-color);
  color: #fff;
}

.footer-link:visited, .footer-link:active {
  color: #fff;
}

.legal-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.legal-link {
  color: var(--legal-link-color);
  font-weight: 300;
  transition: all 0.1s ease;
}

.legal-link:hover {
  color: #fff;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.footer-link {
  color: var(--element-background-color);
  transition: all 0.1s ease;
}

.footer-link:hover {
  color: var(--active-text-color);
  cursor: pointer;
}

.line {
  width: 90%;
  height: 1px;
  background-color: #bcbcbc;
  margin: 0 auto;
}

/* SIGN UP, LOGIN FORM */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
  padding: 100px 0px 100px 0px;
}

.signup-form {
  padding: 46px 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--element-background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.input-group .link {
  text-align: center;
}

.input-group .link a {
  text-decoration: none;
  color: var(--small-header-color);
}

.input-group .link a:hover {
  color: #000;
}

.error-message {
  color: var(--error-message-color);
}

.legal-consent {
  display: flex;
  align-items: start;
  gap: 10px;
}

.consent-link {
  border-bottom: 1px solid var(--active-text-color);
}

input {
  background-color: var(--input-background-color);
  color: var(--main-text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: var(--regular-font-size);
}

.btn {
  padding: 10px 20px;
  font-size: var(--btn-font-size);
  color: var(--main-text-color);
  border-radius: 50px;
  border: 1px solid var(--border-color);
  transition: all 0.1s ease;
  width: fit-content;
}

.btn:hover {
  background-color: #1f1f1f;
  color: #fff;
  cursor: pointer;
}

/* HOME PAGE */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 32px;
}

.main-text {
  font-size: 5rem;
  font-weight: bold;
}

.secondary-text {
  font-size: 3rem;
  font-weight: 600;
  color: #3a3a3a;
}

.large-header {
  font-size: var(--large-header-size);
  font-weight: 600;
}

.medium-header {
  font-size: var(--medium-header-size);
}

.small-header {
  font-size: var(--small-header-size);
  color: var(--small-header-color);
}

.about-container {
  display: flex;
}

/* PROFILE PAGE */
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  padding: 20px 30px 40px 30px;
  border-radius: 10px;
  background-color: var(--element-background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account-card {
  margin: 0;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  padding: 60px 20px;
  display: flex;
  align-items: center; 
  gap: 20px;
}

.profile-card {
  width: 300px;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.label {
  font-size: var(--label-size);
}

.account-number {
  font-size: var(--regular-font-size);
}

.balance {
  font-size: 1.8rem;
  font-weight: 700;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 25px 20px;
}

table {
  border-collapse: collapse;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}

th {
  width: 150px;
  text-align: start;
}

td {
  width: 150px;
}

.transaction-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.new-date {
  margin-bottom: 30px;
}

.income {
  color: green;
}

.expense {
  color: red;
}

/* TRANSACTION DETAILS */

.transaction-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}